body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header-title {
    color: #030303;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

.mantine-RadioGroup-root {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mantine-Radio-root:hover {
    transform: scale(1.05);
    transition: 0.2s;
}
